<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>机器人列表</title>
		<link rel="stylesheet" href="../../css/Usercenter/botList.css" />
	</head>
	<body>
		<div id="page">
			<div class="main bot1">
				<h3>机器人大哥<a id="delet"></a></h3>
				<div class="bot-msg">
					<dl>
						<dt>
							状态 ：<input type="radio" name="on" />启用<input type="radio" name="on" />禁用
						</dt>
						<dd>应用场景 ： 智能客服</dd>
						<dd>流量上线 ： <span>10000</span>/天<a id="msg"></a></dd>
						<dd>APikey : <span>1234sss456ssffff</span></dd>
					</dl>
					<div class="bot-detil"><a href="#">个性化设置</a></div>
				</div>
			</div>
			<div class="main bot2">
				<h3>机器人二哥<a id="delet"></a></h3>
				<div class="bot-msg">
					<dl>
						<dt>
							状态 ：<input type="radio" name="on" />启用<input type="radio" name="on" />禁用
						</dt>
						<dd>应用场景 ： 智能客服</dd>
						<dd>流量上线 ： <span>10000</span>/天<a id="msg"></a></dd>
						<dd>APikey : <span>1234sss456ssffff</span></dd>
					</dl>
					<div class="bot-detil"><a href="#">个性化设置</a></div>
				</div>
			</div>
			<div class="main bot3">
				<h3>机器人三哥<a id="delet"></a></h3>
				<div class="bot-msg">
					<dl>
						<dt>
							状态 ：<input type="radio" name="on" />启用<input type="radio" name="on" />禁用
						</dt>
						<dd>应用场景 ： 智能客服</dd>
						<dd>流量上线 ： <span>10000</span>/天<a id="msg"></a></dd>
						<dd>APikey : <span>1234sss456ssffff</span></dd>
					</dl>
					<div class="bot-detil"><a href="#">个性化设置</a></div>
				</div>
			</div>
		</div>
		<div class="api">
			<a>API使用文档下载</a>
		</div>
	</body>
</html>
