<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个性化机器人</title>
		<link rel="stylesheet" href="../../css/Usercenter/botSting.css" />
	</head>
	<body>
		<div id="page">
			<h3>
			    机器人名字	： <input type="text" /><a id="delet"></a>
			</h3>
			<div class="bar"></div>
			<div class="setmsg">
				<div class="msg-left">
					<dl>
						<dt>基本信息</dt>
						<dd>状态 ：<input type="radio" name="on" />启用<input type="radio" name="on" />禁用</dd>
						<dd>
							应用场景 : 
							<select>
								<option>智能客服</option>
								<option>智能客服</option>
							</select>
						
						</dd>
						<dd>创建日期 ：<span>2016.12.12</span></dd>
						<dd>流量上线 ： <span>10000</span>/天<a id="msg"></a></dd>
						<dd>APikey : <span>1234sss456ssffff</span></dd>
					</dl>
				</div>
				<div class="msg-right">
					<ul>
						<li>性别 :<input type="radio"> 男   &nbsp; &nbsp; &nbsp;<input type="radio"> 女</li>
						<li>年龄 : <input type="text"/></li>
						<li>地区 : <input type="text"/></li>
						<li>兴趣爱好 : <input type="text"/></li>
						
					</ul>
				</div>
			</div>
			<div class="bar"></div>
			<div class="master">
				<h3>知识库管理</h3>
				<table>
					<thead>
						<td>分类</td>
						<td>数量</td>
						<td>操作</td>
					</thead>
					<tr>
						<td>知识库名称</td>
						<td>231</td>
						<td><a></a></td>
					</tr>
					<tr>
						<td>模糊问题</td>
						<td>111</td>
						<td><a></a></td>
					</tr>
					<tr>
						<td>未知问题</td>
						<td>222</td>
						<td><a></a></td>
					</tr>
				</table>
				<div class="sure">
					<a>确定</a>
					<a>取消</a>
				</div>
			</div>
		</div>
	</body>
</html>
