<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>创建机器人</title>
		<link rel="stylesheet" href="../../css/Usercenter/buildBot.css" />
	</head>
	<body>
		<div id="page">
			<div class="page-main">	
					<h3>创建机器人</h3>
					<div id="banner">
						<img src="../../img/botcenter/banner.png" />
					</div>
					<div class="productbot">
						<div class="formbox">
							<label>
								<span>名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称&nbsp; :</span>
								<input type="text" placeholder="为你的机器人取个名字吧"/>
							</label>
							<label>
								<span>应用场景 :</span>
								<select>
									<option>请选择机器人所应用的场景</option>
									<option>请选择机器人所应用的场景</option>
								</select>
							</label>
							<a id="build">立即创建</a>
						</div>
					</div>
			</div>
		</div>
			
		</div>
	</body>
</html>
