<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>数据分析</title>
		<link rel="stylesheet" href="../../css/Usercenter/center.css" />
	</head>
	<body>
		<div id="page">
			<div id="dateCtrl">
				<ul>
				<li class="ctrl-left">
					<select>
						<option>按小时</option>
						<option>按天</option>
					</select>
				</li>
				<li class="ctrl-mid">
					<input type="date" /> - <input type="date" />
				</li>
				<li class="ctrl-right">
					<a>查询</a>
				</li>
			</ul>
			</div>
			<div id="detils">
				<div class="d-main">
					<h3>流量使用<span>流量使用总次数：</span><em>111&nbsp;( 次 )</em></h3>
					<div id="containerbox1"></div>
					<div id="containerbox2"></div>
				</div>
			</div>
			<div id="detil-next">
				<div class="d-main">
					<h3>知识库<span>知识库使用总次数：</span><em>111&nbsp;( 次 )</em></h3>
					<div id="containerbox3"></div>
					<div id="containerbox4"></div>
				</div>
			</div>
			
		</div>
	</body>
</html>
<script src="../../js/Usercenter/echarts.min.js"></script>
<script src="../../js/Usercenter/usercenter.js"></script>
<script>
	
</script>