<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<link rel="stylesheet" href="../../css/RegisterLogin/main.css" />
		
	</head>

	<body>
		<div id="page">
			<header>
				<div class="h-title">
					<a href="index.html">
						<div class="title-left">
							<p>小乐机器人开放平台</p>
							<p>开放、进步、改变</p>
						</div>
					</a>

					<div class="title-right">
						<a href="register.html"><span>注册</span></a>
						<a href="login.html"><span style="background: #fff;color:black;border-radius:2px;">登录</span></a>
					</div>
				</div>

			</header>
			<div id="formbox">
				<div class="centent">
					<h2>::: 欢迎登录小乐机器人开放平台 :::</h2>
				<p><img src="../../img/index/success.png"/>恭喜您修改密码成功！</p>
				<article>
					<span class="time">3S</span>后将会自动跳转到登录界面 
				</article>
				</div>
				
		    </div>	
		</div>
	</body>

</html>
<script src="../../js/jquery-1.9.1.js"></script>
<script src="../../js/RegisterLogin/public.js"></script>
