<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>找回密码</title>
		<link rel="stylesheet" href="../../css/RegisterLogin/main.css" />
		<link rel="stylesheet" href="../../css/RegisterLogin/findpowd.css" />
	</head>
	<body>
		<div id="page">
			<header>
				<div class="h-title">
					<a href="index.html">
						<div class="title-left">
							<p>小乐机器人开放平台</p>
							<p>开放、进步、改变</p>
						</div>
					</a>

					<div class="title-right">
						<a href="register.html"><span>注册</span></a>
						<a href="login.html"><span style="background: #fff;color:black;border-radius:2px;">登录</span></a>
					</div>
				</div>
			</header>
			<div id="formbox">
				<form>
					<h2>::: 找回密码 :::</h2>
					<label>
			    	<span> &nbsp;&nbsp;&nbsp;新密码：</span>
			    	<input type="text" class="newpowd"/>
			    </label>
					<label>
					<span>确认密码：</span>
					<input type="password" class="newnewpowd"/>
				</label>
					<a href="#" class="isokey">确定</a>
					<p class="err-msg">密码格式不正确</p>

				</form>
			</div>
		</div>
	</body>
</html>
<script src="../../js/jquery-1.9.1.js"></script>
<script src="../../js/RegisterLogin/finpowd.js"></script>\
<!--<div id="findPowd">
				<h2>找回密码</h2>
				<label class="newpowd">
			    	<span>&nbsp;新密码：</span>
			    	<input type="text" placeholder="请输入新密码" class="newpowd"/>
			    </label>
			    <label class="newcheck">
			    	<span>确定密码：</span>
			    	<input type="text" placeholder="请再次输入密码" class="newcheck"/><input type="button"value="点击获取" class="checkcode"/>
			    </label>
		    </div>	-->